.families-container {
	text-align: center;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.list-families-active, .list-families-completed {
	text-align: left;

}

.list-families-completed > .list-item-family .family-link {
	color: gray;
}

.header.families-header-completed {
	color: gray;
}

.ui.list .item.list-item-family {
	padding-left: 10px;
	padding-right: 10px;	
}

.list-item-family .family-link {
	color: black;
	
}

.family-link {
	display: inline-block;
}

.completion-date {
	float: right;
	color: gray;
}