.families-container {
	text-align: center;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.list-families-completed > .list-item-family a {
	color: gray;
}

.header.families-header-completed {
	color: gray;
}

.list-item-family a {
	color: black;	
}