.page-header {
	background-color: #e37222;
  color: white;
  padding: 11px 20px 11px 20px;
  margin-bottom: 20px;
}

.app-logo-header {
	margin-top: 4px;
	height: 60px;
	width: 60px;
}

.ui.primary.button.sign-out {
	margin-top: 17px;
	float: right;
}