.page-header {
	background-color: #e37222;
  color: white;
  padding: 11px 20px 11px 20px;
  margin-bottom: 20px;
  height: 95px;
}

.app-logo-header {
	margin-top: 7px;
	height: 60px;
	width: 60px;
	float: left;
	display: inline-block;
}

.ui.primary.button.sign-out {
	margin-top: 19px;
	float: right;
}